@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      bg-slate-50
  }
  input {
    @apply 
      border-b
      border-royal-blue-700 
      hover:border-royal-blue-700 
      focus:outline-none
      my-1
      p-2
  }
  label {
    @apply 
      text-gray-700
      italic
      my-1
  }

  button, button[type="button"], button[type="submit"], button[type="reset"] {
    @apply 
      rounded 
      bg-royal-blue-500 
      hover:bg-royal-blue-600 
      active:bg-royal-blue-700 
      disabled:bg-royal-blue-200 disabled:text-royal-blue-700
      text-white 
      p-2
  }

  button.green {
    @apply
      bg-green-500 
      hover:bg-green-600 
      active:bg-green-700 
      disabled:bg-green-200 disabled:text-green-700
  }
  button.red {
    @apply
      bg-red-500 
      hover:bg-red-600 
      active:bg-red-700 
      disabled:bg-red-200 disabled:text-red-700
  }

  a {
    @apply
      text-royal-blue-500
      hover:text-royal-blue-600 hover:underline hover:cursor-pointer
      active:text-royal-blue-700
      p-2
  }

  a.disabled {
    @apply
      text-royal-blue-300
      hover:text-royal-blue-300 hover:underline hover:cursor-default
  }

  .error {
    @apply 
      text-red-500 italic
  }
  .hint {
    @apply 
      text-green-700 text-center
  }

  div.container {
    @apply
        my-5 mx-auto max-w-sm text-center shadow-lg rounded-md p-6 bg-white
  }

  h2.header {
    @apply
      text-3xl mb-5
  }
}
